<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>Slave-01</name>
  <description></description>
  <remoteFS>/home/jenkins-slave-01</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.30.0">
    <host>172.31.41.85</host>
    <port>22</port>
    <credentialsId>37a48a3b-168a-4de9-9dff-ef1618fab739</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>Java</label>
  <nodeProperties/>
</slave>